@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --red: 229, 57, 53;
    --blue: 30, 136, 229;
    --orange: 251, 140, 0;
    --green: 67, 160, 71;
    --yellow: 253, 216, 53;
    --black: 10, 10, 10;
    --theme-color: var(--red)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(var(--theme-color), 1);
}

.wrapper {
    height: 265px;
    background: #fff;
    max-width: 450px;
    border-radius: 10px;
    padding: 16px 25px;
    transition: height 0.2s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper.active {
    height: 570px;
}

.header h1 {
    font-size: 21px;
    font-weight: 500;
}

.header p {
    font-size: 16px;
    margin-top: 5px;
    color: #474747;
}

.wrapper .form {
    margin: 20px 0 30px;
}

.form :where(input,
button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 2px solid rgba(var(--theme-color), 1);
}

.form button {
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: rgba(var(--theme-color), 1);
}

.wrapper .qrcode {
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    align-items: center;
    border: 2px solid rgba(var(--theme-color), 1);
    border-radius: 7px;
    justify-content: center;
}

.wrapper.active .qrcode {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

.color-switch {
    float: right;
    position: absolute;
    margin: 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    top: 1%;
    right: 2%;
    background-color: rgba(255, 255, 255, 1);
}

input[type='radio'] {
    margin: 0 10px;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[value='red']:after {
    background: rgba(var(--red), 1);
}

input[value='black']:after {
    background: rgba(var(--black), 1);
}

input[value='blue']:after {
    background: rgba(var(--blue), 1);
}

input[value='orange']:after {
    background: rgba(var(--orange), 1);
}

input[value='green']:after {
    background: rgba(var(--green), 1);
}

input[value='yellow']:after {
    background: rgba(var(--yellow), 1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eeeeee;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(var(--theme-color), 1);
    ;
}